.image-gallery {
  width: 100%;
}

.image-gallery-slide img {
  height: 460px;
  background-color: black;
  overflow: hidden;
}

.fullscreen .image-gallery-slide img {
  height: 100vh;
}

@media screen and (max-width: 800px) {
  .image-gallery-slide img {
    height: 420px;
    overflow: hidden;
  }
}

@media screen and (max-width: 700px) {
  .image-gallery-slide img {
    height: 360px;
    overflow: hidden;
  }
}

@media screen and (max-width: 600px) {
  .image-gallery-slide img{
    height: 320px;
    overflow: hidden;
  }
}
@media screen and (max-width: 480px) {
  .image-gallery-slide img {
    height: 260px;
    overflow: hidden;
  }
}
