@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap");
@import "~react-image-gallery/styles/css/image-gallery.css";
html,
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
#root {
  min-height: 100vh;
  width: 100%;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
body::-webkit-scrollbar {
  width: 10px;
  /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #ede7f6; /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #b39ddb; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
}
