@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap");
@import "~react-image-gallery/styles/css/image-gallery.css";
html,

html{
 height:100%;
}

body{
  height:auto;
  height:100%;
}
#root {
  height:100%;
  width: 100%;

}
