.sell-form-inner {
  width: 70%;
  height: auto;
  margin: calc(90vh - 80vh - 20px) auto;
  background: #fff;
  padding: 20px;
  padding-bottom: 30px;
}
@media (max-width: 768px) {
  .sell-form-inner {
    width: 90%;
  }
}
